#left_section
  #inner_left_section
    .mydeal_bg
      .mydeal_left_curve
        .mydeal_right_curve
          %h4 #{title}

    .left_section_content
      - if invitations.empty?
        No invitations to show.

      - for invitation in invitations
        .common_section_bg
          .common_section_top_cuve
            .common_section_bottom_cuve
              .common_section_content
                = image_tag(status_image_for(invitation.deal), :class => "new")
                %h3
                  = link_to(invitation.deal.startup_name.titlecase, invitation.deal)
                %strong
                  = link_to 'View More', invitation.deal
                #invitation_controls
                  = link_to invitation_path(invitation), :confirm => 'Are you sure you want to reject this deal?', :method => :delete, :class => 'button reject' do
                    %span Reject
                  = link_to invitation_path(invitation), :method => :put, :class => 'button accept' do
                    %span Accept
                  