#left_section
  #inner_left_section
    .mydeal_bg
      .mydeal_left_curve
        .mydeal_right_curve
          %h4 Fund Status
    .left_section_content
      #progress-bar
        #progress-level{:style => "width:" + remaining_budget_percentage.to_s + "%"}
        #progress-label
          = remaining_budget_percentage.to_s + "% of " + number_to_currency(current_user.budget, :units => "$") + " remaining." 

#left_section
  #inner_left_section
    .mydeal_bg
      .mydeal_left_curve
        .mydeal_right_curve
          %h4 Deals proposed by other Equeety users
    .left_section_content
      %ul
        - for invitation in private_invitations
          %li
          = link_to(invitation.deal.startup_name, invitation.deal)
          = button_to "Accept", invitation, :method => :put
          = button_to "Reject", invitation, :confirm => 'Are you sure you want to reject this deal?', :method => :delete

#left_section
  #inner_left_section
    .mydeal_bg
      .mydeal_left_curve
        .mydeal_right_curve
          %h4 Deals proposed through your public page
    .left_section_content
      %ul
        - for invitation in public_invitations
          %li #{invitation.deal.startup_name}
          = button_to "Accept", invitation, :method => :put
          = button_to "Reject", invitation, :confirm => 'Are you sure you want to reject this deal?', :method => :delete
