%h2 Deals proposed by other Equeety users
%ul
  - for invitation in private_invitations
    %li #{invitation.deal.startup_name}
    = link_to "Accept"
    = link_to "Reject", invitation, :confirm => 'Are you sure?', :method => :delete

%h2 Deals proposed through your public page
%ul
  - for invitation in public_invitations
    %li #{invitation.deal.startup_name}
    = button_to "Accept", invitation, :method => :put
    = button_to "Reject", invitation, :confirm => 'Are you sure you want to reject this deal?', :method => :delete
