%h1 Edit budget
= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :budget
    %br/
    = f.text_field :budget
  .actions
    = f.submit :value => 'Set budget'
