%h1 Edit user profile
= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :budget
    %br/
    = f.text_field :budget
    %br/
    %br/
  .field
    = f.label "Nickname for your public page"
    %br/
    www.equeety.com/offers/ 
    = f.text_field :nickname
  .actions
    = f.submit :value => 'Save changes'
