%h1 Profile
%div
  .email
    %strong Email:
    #{@user.email}
  .budget
    %strong Initial budget:
    #{number_to_currency(@user.budget, :unit => "$")} 
  .committed_budget
    %strong Committed budget:
    #{number_to_currency(@user.committed_budget, :unit => "$")}
  .remaining_budget
    %strong Remaining budget:
    #{number_to_currency(@user.remaining_budget, :unit => "$")}
  .public_page
    %strong Public page URL:
    www.equeety.com/offers/#{@user.nickname}
  = link_to "Edit profile", edit_user_url
