- for deal in deals
  .common_section_bg
    .common_section_top_cuve
      .common_section_bottom_cuve
        .common_section_content              
          = image_tag(status_image_for(deal), :class => "new")
          %h3
            = link_to deal.startup_name.titlecase, deal
          %strong
            = link_to 'View More', deal
          %p 
            = deal.description
          %p
            = deal.commitments.count
            commitments by other investors.