<%= form_for @deal do |f| %>
	<% if @deal.errors.any? %>
    	<div id="error_explanation">
	      <ul>
	      <% @deal.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>
	</div>
	<div class="field">
	    <%= f.label :startup_name %><br />
	    <%= f.text_field :startup_name %>
	</div>
	<div class="field">
	    <%= f.label :website %><br />
	    <%= f.text_field :website %>
	</div>
	<div class="field">
	    <%= f.label :contact_name %><br />
	    <%= f.text_field :contact_name %>
	</div>
	<div class="field">
	    <%= f.label :contact_email %><br />
	    <%= f.text_field :contact_email %>
	</div>
	<div class="field">
	    <%= f.label :logo_url %><br />
	    <%= f.text_field :logo_url %>
	</div>
	<div class="field">
	    <%= f.label :required_amount %><br />
	    <%= f.text_field :required_amount %>
	</div>
	<div class="field">
	    <%= f.label :proposed_valuation %><br />
	    <%= f.text_field :proposed_valuation %>
	</div>
	<div class="field">
	    <%= f.label :closing_date %><br />
	    <%= f.date_select :closing_date, :order => [:day, :month, :year], :include_blank => true, :default => {} %>
	</div>
	<div class="field">
	    <%= f.label :round %><br />
	    <%= f.select :round, round_options %>
	</div>
	<div class="actions">
	    <%= f.submit :value => 'Create deal' %>
	</div>
<% end %>

<%= link_to "Back to deals", deals_url %>