<div id="main-content" class="span-24 last">
	<div id="main-content-left" class="span-4 first">
		<div class="span-4 last line-item first-item heading">MY DEALS</div>
		<div id="deals-added" class="span-4 last line-item"><%= @deals.count %> Deals Added</div>

		<div class="span-4 last line-item heading">DEAL STATUS</div>
		<%= render :partial => "status_selected_deals", :locals => { :heading => "All Deals", :count => @all_deals.count, :status => nil } %>
				
		<%= render :partial => "status_selected_deals", :locals => { :heading => "New", :count => @new_deals_count, :status => "new" } %>
		
		<%= render :partial => "status_selected_deals", :locals => { :heading => "In Due Diligence", :count => @due_diligence_deals_count, :status => "due_diligence" } %>
		
		<%= render :partial => "status_selected_deals", :locals => { :heading => "Pending", :count => @pending_deals_count, :status => "pending" } %>

		<div class="span-4 last line-item heading">HISTORY</div>
		<div class="span-4 last line-item">Deals Received (<%= @invites_this_month_count %>)</div>
	</div>
	
	<div id="main-content-middle" class="span-14">
		<div class="section span-14 last">
			<div class="span-9">
				<h2>All Deals</h2>
				<h3>You have added <%= @deals.count %> deals.</h3>
			</div>
			<div class="add-deal-controls span-5 last">
				<div class="button-container">
					<%= link_to (new_deal_path) do %>
						<div class="orange button">
							<span class="large-character">+</span><span class="button-label">Add a New Deal</span>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		
		<%= render :partial => "dashboard/fund_status" %>
		
		<div class="deal-previews span-14 last">
			<table>
				<thead>
					<tr>
						<td>Startup Name</td>
						<td>Status</td>
						<td>Commitments</td>
						<td>Round</td>
						<td>Closing Date</td>
						<td>&nbsp;</td>
					</tr>
				</thead>
				<tbody>
					<% for deal in @deals_displayed %>
						<tr>
							<%= content_tag(:td, deal.startup_name, :class => "startup-name") %>
							<%= content_tag(:td, deal.status.humanize.capitalize) %>
							<%= content_tag(:td, deal.commitments.count) %>
							<%= content_tag(:td, deal.round) %>
							<%= content_tag(:td, date(deal.closing_date)) %>
							<%= content_tag(:td, link_to("Details", deal_path(deal), :remote => true))%>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	
	<div id="main-content-right" class="span-5 last">
		<div id="deal">
			<p>Select a deal from the list to display its details.</p>
		</div>
	</div>
</div>
