#left_section
  #inner_left_section
    .mydeal_bg
      .mydeal_left_curve
        .mydeal_right_curve
          %h4 My Deals    
    .left_section_content
      - for deal in @deals
        .common_section_bg
          .common_section_top_cuve
            .common_section_bottom_cuve
              .common_section_content              
                = image_tag(status_image_for(deal), :class => "new")
                %h3
                  = link_to deal.startup_name.titlecase, deal
                %strong
                  = link_to 'View More', deal
                %p 
                  = deal.description
                %p
                  = deal.commitments.count
                  commitments by other investors.

      - for deal in @deals_invited_to
        .common_section_bg
          .common_section_top_cuve
            .common_section_bottom_cuve
              .common_section_content
                = image_tag(status_image_for(deal), :class => "new")
                %h3
                  = link_to deal.startup_name.titlecase, deal
                %strong
                  = link_to 'View More', deal
                %p
                  = deal.description
                %p
                  = deal.commitments.count
                  commitments by other investors.
      /.load_detail_bg
      /  .load_detail_left_curve
      /    .load_detail_right_curve
          

#sidebar
  .add_detail_bg
    .add_detail_left_curve
      .add_detail_right_curve
        = link_to "Add a deal", new_deal_path

  .deal_section
    .mydeal_bg
      .mydeal_left_curve
        .mydeal_right_curve
          %h4 Deals

    .deals_bg
      .deals_bottom_curve
        .common_section2
          .common_section2_bg
            .common_section2_top_curve
              .common_section2_bottom_curve
                %span New:
                %small
                  1
          
          .common_section2_bg
            .common_section2_top_curve
              .common_section2_bottom_curve
                %span In Due Diligence:
                %small
                  1
                  
          .common_section2_bg
            .common_section2_top_curve
              .common_section2_bottom_curve
                %span Pending:
                %small
                  1
            
          
          .common_section2_bg
            .common_section2_top_curve
              .common_section2_bottom_curve
                %span Received this month:
                %small
                  1
            
          
          .total_deal_bg
            .total_deal_top_curve
              .total_deal_botttom_curve
                %span Total Deals:
                %small
                  1