<h1>My Deals</h1>
<div>
<%= link_to "Create a new deal", new_deal_url %> <br />
</div>
<div>
	<ul>
	<% for deal in @deals %>
		<li>
			<strong>Startup name:</strong> <%= deal.startup_name %> <br />
			<strong>Website:</strong> <%= deal.website %> <br />
			<strong>Contact name:</strong> <%= deal.contact_name %> <br />
			<strong>Contact email:</strong> <%= deal.contact_email %> <br />
			<strong>Logo:</strong> <%= deal.logo_url %> <br />
			<strong>Required amount:</strong> <%= deal.required_amount %> <br />
			<strong>Proposed valuation:</strong> <%= deal.proposed_valuation %> <br />
			<strong>Closing date:</strong> <%= deal.closing_date %> <br />
			<strong>Round:</strong> <%= deal.round %> <br />
			<%= link_to "Edit", edit_deal_url(deal)%>
		</li>
	<% end %>
	</ul>
</div>