<h1>My Deals</h1>
<div>
<%= link_to "Add a new deal", new_deal_url %> <br />
</div>
<div>
<% for deal in @deals %>
	<div>
		<%= deal.startup_name %> <br />
		<%= deal.website %> <br />
		<%= deal.contact_name %> <br />
		<%= deal.contact_email %> <br />
		<%= deal.logo_url %> <br />
		<%= deal.required_amount %> <br />
		<%= deal.proposed_valuation %> <br />
		<%= deal.closing_date %> <br />
		<%= deal.round %> <br />
	</div>
<% end %>
</div>