#left_section
  #inner_left_section
    .mydeal_bg
      .mydeal_left_curve
        .mydeal_right_curve
          %h4 My Deals    
    .left_section_content

      = render :partial => 'deal_list', :locals => { :deals => @deals }
      = render :partial => 'deal_list', :locals => { :deals => @deals_invited_to }          

#sidebar
  .add_detail_bg
    .add_detail_left_curve
      .add_detail_right_curve
        = link_to "Add a deal", new_deal_path

  .deal_section
    .mydeal_bg
      .mydeal_left_curve
        .mydeal_right_curve
          %h4 Deals

    .deals_bg
      .deals_bottom_curve
        .common_section2
          .common_section2_bg
            .common_section2_top_curve
              .common_section2_bottom_curve
                %span New:
                %small 
                  = @new_deals_count

          .common_section2_bg
            .common_section2_top_curve
              .common_section2_bottom_curve
                %span In Due Diligence:
                %small
                  = @due_diligence_deals_count
          
          .common_section2_bg
            .common_section2_top_curve
              .common_section2_bottom_curve
                %span Pending:
                %small
                  = @pending_deals_count
          
          .common_section2_bg
            .common_section2_top_curve
              .common_section2_bottom_curve
                %span Received this month:
                %small
                  1
            
          
          .total_deal_bg
            .total_deal_top_curve
              .total_deal_botttom_curve
                %span Total Deals:
                %small
                  = @new_deals_count + @due_diligence_deals_count + @pending_deals_count