%h1 My Deals
%div
  = link_to "Create a new deal", new_deal_url
  %br/
%div
  %ul
    - for deal in @deals
      %li
        %strong Startup name:
        = deal.startup_name
        %br/
        %strong Website:
        = deal.website
        %br/
        %strong Contact name:
        = deal.contact_name
        %br/
        %strong Contact email:
        = deal.contact_email
        %br/
        %strong Logo:
        = deal.logo_url
        %br/
        %strong Required amount:
        = deal.required_amount
        %br/
        %strong Proposed valuation:
        = deal.proposed_valuation
        %br/
        %strong Closing date:
        = deal.closing_date
        %br/
        %strong Round:
        = deal.round
        %br/
        = link_to "Edit", edit_deal_url(deal)
